@charset "utf-8";
/* CSS Document */
body {
	background-color: #33ffff;
	font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active, a:focus, a:visited {
	outline: none;
	border: 0;
	text-decoration: none;
	color: #27D2C1;
}
.bg-white {
	background-color: #FFF;
	margin: 10px 0;
	padding: 5px;
}
.logo {
	font-size: 30px;
	font-weight: bold;
	margin: 18px;
	float: left;
	color: #27D2C1;
	text-shadow: 1px 1px 5px rgba(48, 48, 48, 0.26);
}
.header .ad-block {
	background-color: #FFF;
	width: 60%;
	float: right;
	height: 50px;
	margin: 10px;
}
.left-sidebar .ad-block {
	background-color: #FFF;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.main-content .ad-block {
	background-color: #FFF;
	height: 80px;
	width: 90%;
	margin: 10px;
}
.right-sidebar .ad-block {
	background-color: #FFF;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.header {
	height: 80px;
}
.footer, .middle-left, .middle-right, .bottom-left-block, .bottom-middle-block, .bottom-right-block, .bottom-content {
	height: 50px;
}
.left-sidebar, .right-sidebar {
	height: 440px;
}
.main-content  {
	height: 440px;
	width: 105%;
}
.footer .copyright {
	color: #A5A5A5;
	text-align: center;
	margin: 16px;
}
@media (max-width:767px) {
.header {
	height: auto;
}
.logo {
	margin: 15px;
	float: none;
	text-align: center;
}
.header .ad-block {
	height: 50px;
	width: auto;
	margin: 10px;
	float: none;
}
.footer {
		height: auto;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: auto;
}
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #28D4C3;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/*Horizantal Menu Bar using pure*/

body{
      padding: 10px 0 0 50px;
    }
    h1{
      font-family: arial;
    }
    #menu{
      margin-top:0px;
    }
    #menu > ul{
      background: #2c3e50;
    }
    #menu ul
    {
      list-style:none;
      position:relative;
      float:left;
      margin:0;
      padding:0;
    }

    #menu ul a
    {
      display:block;
      color:#fff;
      text-decoration:none;
      font-weight:700;
      font-size:15px;
      line-height:50px;
      padding:0 17px;
      font-family:Helvetica,Arial,sans-serif;
    }

    #menu ul li
    {
      position:relative;
      float:left;
      margin:0;
      padding:0
    }

    #menu ul li.active
    {
      background:#27ae60
    }

    #menu ul li:hover
    {
      /*background:#f6f6f6*/
      background: #2ecc71;
    }

    #menu ul ul
    {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      background:#27ae60;
      padding:0
    }

    #menu ul ul li
    {
      float:none;
      width:200px;
      border-left: 3px solid #27ae60;
    }
    #menu ul ul li:hover{
      border-left: 3px solid #2c3e50;
    }

    #menu ul ul a
    {
      line-height:120%;
      padding:10px 15px
    }

    #menu ul ul ul
    {
      top:-4px;
      left:100%
    }

    #menu ul li:hover > ul
    {
      display:block
    }
	
	/*Left side Menu Bar using pure*/
	
	